body{
    text-align: center;
}

.text{
    margin:50px 0;
    font-size:40px;
}

#result{
    font-size:40px;
    background:red;
    margin:0 5px;
    padding:5px;
    color:white;
}

.disable{
    opacity:0.5;
}